@import "_partial/font"
@import "_partial/header"
@import "_partial/post"
@import "_widget/aside"

body 
  font-size: 1rem
  line-height: 1.6
  margin: 0
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  h1, h2, h3, h4, h5, h6
    .header-anchor
      display: none;
    &:hover
      .header-anchor
        display: inline-block;
  a
    color: #f78769 !important
    text-decoration: none
    transition: .3s
    &:hover
      color: #ddd !important
  p
    code
      font-size: 1.2rem
  
  code
    font-size: 1rem

.container 
  max-width: 1142px
  width: 80%
  box-sizing: border-box
  padding: 3em 5%
  background: white
  margin: 3em auto
  overflow: hidden

  .main
    width: 70%
    float: left

.invisibile
  visibility: hidden

.hidden
  display: none
  
@media screen and (max-width: 1015px) 
  .container .main
    width: 100%

@media screen and (max-width: 640px) 
  .container
    margin: 3em 0 0
    width: 100%
    padding: 1.75em

.pagination-bar ul li::after
  content: "\00B7";
  margin: 0 0.75em;

.pagination-bar
    height: 40px
    margin: 2.25em auto 4.5em
    font: 700 13px Lato-Bold
    text-transform: uppercase
    letter-spacing: 1px
    ul 
      text-decoration: none
      padding: 0
      li
        color: #777
        display: inline-block
        &::after
          content: "\00B7"
          margin: 0 .75em
        &:last-child::after 
          content: ''
        a
          text-decoration: none
          transition: .3s
          &:hover
            color: #f78769