<% if (theme.widgets.about) { %>
<h1>About Me</h1>
<img alt="my photo" width="80%" src="https://avatars3.githubusercontent.com/u/18013815?s=460&amp;v=4">
<div class="about">
  Liu, An-Chi 劉安齊<br>
  Software Engineer
</div>

<% } %>