<% if (theme.widgets.about) { %>
<h2>About Me</h2>
<img alt="my photo" width="80%" src="/img/selfie.jpg">
<div class="about">
  Liu, An-Chi 劉安齊<br>
  Software Engineer<br>
  @tigercosmos
</div>

<% } %>