<h1>Ad</h1>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6206289145662773"
     crossorigin="anonymous"></script>
<!-- blog right -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6206289145662773"
     data-ad-slot="9179104729"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>