<% if (theme.widgets.recent) { %>
<div class="recent-post">
  <h2>Recent Posts</h2>
  <ul>
    <% site.posts.sort('date', -1).limit(10).each(function(post){ %>
    <li>
      <a href="<%- url_for(post.path) %>">
        <%= post.title || '(no title)' %>
      </a>
    </li>
    <% }) %>
  </ul>
</div>
<% } %>